@using NotenManager.Components.Layout
@using NotenManager.Model
@using NotenManager.Repository
@inject BreadcrumbRepository BreadcrumbRepo


@if (BreadcrumbRepo.Breadcrumbs.Any())
{
    <nav class="container mt-2 mb-4">
        @for (int i = 0; i < BreadcrumbRepo.Breadcrumbs.Count; i++)
        {
            var item = BreadcrumbRepo.Breadcrumbs[i];
            <a href="@item.Link">@item.Text</a>
            @if (i < BreadcrumbRepo.Breadcrumbs.Count - 1)
            {
                <span> / </span>
            }
        }
    </nav>
}
