@page "/"
@inject NavigationManager Navigation
@inject SemesterRepository SemesterRepo
@rendermode InteractiveServer
@using NotenManager.Model
@using NotenManager.Repository

<PageTitle >Home</PageTitle>

<h1 class="container-fluid p-5 bg-primary text-white text-center">Willkommen zum Noten Manger</h1>

<p class="lead"> Diese Webseite sollte dir helfen, deine Semstern und Fächern im Überblick zu behalten und deine Noten einfach zu verwatlten.  </p>

<div class="card">
    <div class="card-header">
        So funktioniert es:
    </div>
    <div class="card-body">
    <p class="card-text">
        <ol>
            <li>Lege ein Semester an</li>
            <li>Füge zu dem Passende Semester deine Fächern hinzu</li>
            <li>Trage deine Noten im passenden Fach ein</li>
        </ol>
    </p>

        <button class="btn btn-info" @onclick="GoToSemesterPage">
            Zum Notenmanger, KLICK MICH
        </button>
    </div>
</div>

<p1>Diese Webseite dient zur meiner LAP vorbereitung. Das Ziel war inerhalb von 10 Tagen (80h) die gesamte Webseite mit Dokumentation fertig zu erstelle.</p1>



@code {
//Navigation to Subject----------------------------------
    private void GoToSemesterPage()
    {
        Navigation.NavigateTo($"/semester");
    }
}
