.container-fluid {
    padding-bottom: 1rem;
}

section {
    margin-top: 2em;
}

.createSemester input {
    margin-bottom: 1em;
}

.semesterList {
        margin-top: 1rem;
    }

.btn-outline-secondary {
    color: green;
    border-color: darkgreen;
}

    .btn-outline-secondary:hover {
        color: black;
        background-color: mediumseagreen;
        border-color: #000000;
    }

