@page "/subject/{SemesterId:int}"
@inject SubjectRepository SubjectRepo
@inject NavigationManager Navigation
@rendermode InteractiveServer
@using NotenManager.Model
@using NotenManager.Repository
@using Microsoft.AspNetCore.Components 

<PageTitle>Subject</PageTitle>

<h1 class="pageTitle">Deine Fächer:</h1>

<div class="m-3 p-3 border rounded border border-5">

    <div class="container-fluid">
        <section class="createSection">
        @*Create Methode-----------------------------*@
        <label for="subject" class="form-label">Welches Fach:</label>
        <input type="text" class="form-control" id="subject" @bind="newSubjectItem" placeholder=" Modul..." />
        <button class="btn btn-primary" @onclick="CreateSubject">Add</button>

        @if (!string.IsNullOrWhiteSpace(errorMessage))
        {
            <p>@errorMessage</p>
        }
        </section>

        @*GetAll-----------------------------------------*@
        <section class="itemList">
            @foreach (var subjectItem in subjectListe)
            {
                <button class="btn btn-outline-secondary" @onclick="() => NavToGrade(subjectItem.Id)">
                    @subjectItem.Name
                </button>
                <button class="btn btn-outline-danger" @onclick="() => DeleteSubject(subjectItem.Id)">Delete</button>
            }
        </section>
    </div>
</div>


@code {
    // Getall------------------------------------------
    private List<SubjectModel> subjectListe = new();
    protected override void OnInitialized()
    {
        subjectListe = SubjectRepo.GetBySemester(SemesterId).ToList();
    }

    //Create ------------------------------------------
    [Parameter]
    public int SemesterId { get; set; }

    string? newSubjectItem;
    string? errorMessage;


    private async Task CreateSubject()
    {
        if (string.IsNullOrWhiteSpace(newSubjectItem))
        {
            errorMessage = "Bitte gebe den Namen des Faches ein.";
            return;
        }

        errorMessage = "";
        var subject = new SubjectModel
        {
            Name = newSubjectItem,
            SemesterId = SemesterId
        };

        await SubjectRepo.Create(subject);
        subjectListe = SubjectRepo.GetBySemester(SemesterId).ToList();
        newSubjectItem = string.Empty;
    }
    // Navigation to Grades ------------------------
    private void NavToGrade(int Id)
    {
        Navigation.NavigateTo($"/grade/{Id}");
    }

    //Delete------------------------------------
    private void DeleteSubject(int Id)
    {
        SubjectRepo.Delete(Id);
        subjectListe = SubjectRepo.GetBySemester(SemesterId).ToList();
    }
}