@page "/subject/{SemesterId:int}"
@inject SubjectRepository SubjectRepo
@inject NavigationManager Navigation
@rendermode InteractiveServer
@using NotenManager.Model
@using NotenManager.Repository

<PageTitle>Subject</PageTitle>

<h1>Deine Fächer:</h1>

<div class="wrapper">

    <div class="SubjectForm">
        @*Create Methode-----------------------------*@
        <input type="text" @bind="newSubjectItem" placeholder="Fachname" />
        <button @onclick="CreateSubject">Add</button>

        @if (!string.IsNullOrWhiteSpace(errorMessage))
        {
            <p>@errorMessage</p>
        }
    </div>
</div>


@code {
    // Getall------------------------------------------
    private List<SubjectModel> subjectListe = new();
    protected override void OnInitialized()
    {
        subjectListe = SubjectRepo.GetAll().ToList();
    }

    //Create ------------------------------------------
    [Parameter]
    public int SemesterId { get; set; }

    string? newSubjectItem;
    string? errorMessage;


    private async Task CreateSubject()
    {
        if (string.IsNullOrWhiteSpace(newSubjectItem))
        {
            errorMessage = "Bitte gebe den Namen des Faches ein.";
            return;
        }

        errorMessage = "";
        var subject = new SubjectModel
        {
            Name = newSubjectItem,
            SemesterId = SemesterId
        };

        await SubjectRepo.Create(subject);
        newSubjectItem = string.Empty;
        
    }
}